.grid-maior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bodyBg);
    color: var(--bodyColor);
    height: 100vh;
}

#caixaDados{
    background-color: var(--subTomBg);
    border-radius: 20px;
    
}
.caixa-foto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--subTomBg);
    border-radius: 20px;
}
.foto-user {
    border-radius: 50%;
    border: 5px solid var(--BodyBg);
}
.btn-trocaFoto {
    margin-top: 20px;
    background-color: var(--BodyBg);
    border: 0;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    transition: 0.1ms;
    font-weight: bold;
}

.user-titulo {
    display: flex!important;
    justify-content: center;
    align-items: center!important;
    font-size: 25px!important;
    margin-top: 10px!important;
}
.atributos-user {
    display: flex;
    align-items: center;
    width: 100px;
    border-radius: 20px;
}
.user-texto {
    background-color: var(--BodyBg) !important;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin-left: 20px!important;
    display: flex;
    align-items: center!important;
}
.form-perfil {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}
#user-img {
    background-color: var(--bodyBg);
}
.inputfile {
    margin-top: 10px;
    background-color: var(--bodyBg);
}
.btn-save {
    margin-top: 10px;
    background: #6a7dfe; background: -webkit-linear-gradient(to left, #21d4fd, #b721ff); 
    background: -o-linear-gradient(to left, #21d4fd, #b721ff); 
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff); 
    background: linear-gradient(to left, #21d4fd, #b721ff);
    color: var(--bodyColor)!important;
    margin-top: 10px!important;
    border-radius: 30px!important;
    margin-bottom: 12px!important;
}
.form {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.btnEdit {
    background: #6a7dfe; background: -webkit-linear-gradient(to left, #21d4fd, #b721ff); 
    background: -o-linear-gradient(to left, #21d4fd, #b721ff); 
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff); 
    background: linear-gradient(to left, #21d4fd, #b721ff);
    color: rgb(255, 255, 255)!important;
    margin-top: 10px!important;
    border-radius: 30px!important;
    margin-bottom: 12px!important;
    padding: 10px;
    margin-right: 10px;
}
.btnEdit:hover {
    background-color: var(--BodyBg);
    cursor: pointer;
}

#formAtualizar form{
    width: 400px;
    padding: 20px;
    border-radius: 20px;
}

#ultimoInput{
    margin-bottom: 15px;
}

#nome{
    border-radius: 5px;
    background: rgba(255, 255, 255, 1)!important;
  }

#foto{
    border-radius: 5px;
    background: rgba(255, 255, 255, 1)!important;
}

#senha{
    border-radius: 5px;
    background: rgba(255, 255, 255, 1)!important;
  }

#confirmarSenha{
    border-radius: 5px;
    background: rgba(255, 255, 255, 1)!important;
}