.cursor{
    cursor: pointer;
}

.MuiButton-root {
    color: white!important;
}

.btnModal{
    border-color: white !important;
    background: #6a7dfe; background: -webkit-linear-gradient(to left, #21d4fd, #b721ff); 
    background: -o-linear-gradient(to left, #21d4fd, #b721ff); 
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff); 
    background: linear-gradient(to left, #21d4fd, #b721ff);
}