.cor {
    background-color: #000000!important;
    /*background-color: #A903C4;*/
}

.menuBar {
    padding-right: 30px;
}

.MuiTypography-h6 {
    font-size:  1.1rem!important;
    margin-top: 3px!important;
}

.cursor{
    cursor: pointer;
    color: white!important;
}

.text-decorator-none{
    text-decoration: none;
}

.iconButton {
    color: white!important;
    /*margin-left: 647px!important;*/
}

.icon {
    color: white!important;
}