.cor {
    background-color: #520f52;
    /*background-color: #A903C4;*/
}.teste{
    display: flex;
}

.menuBar {
    padding-left: 35px;
}

.MuiTypography-h6 {
    font-size:  1.2rem!important;
    margin-top: 5px!important;
}

.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.iconButton {
    color: white!important;
    margin-left: 648px!important;
}

.icon {
    color: white!important;
}