.cor {
    background-color: #A903C4;
}

.menuBar {
    padding-left: 35px;
}

.MuiTypography-h6 {
    font-size:  1.2rem!important;
}

.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}