.box1{
    background-color: #221d1d;
    height: 120px;
}

.box2{
    background-color:#141212;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}

.text-decorator-none {
    text-decoration: none;
}